@import "tailwindcss";

.main__action {
  animation: scroll-down 3s infinite;
}

.main__scroll-box svg{
  fill: #0ea5e9;
  filter: drop-shadow(0 0 8px rgba(14,165,233,0.6));
}

/* Animate scroll icon */
@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}